body{
    font-family: 'Instagram Sans';
}

.border{
    border: 2px solid black;
}

.column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textfield{
    margin: 3px;
    height: 17px;
    width: 37vh;
    padding: 9px 0 7px 8px;
    font-size: 12px;
    background-color: rgba(216, 214, 214, 0.242);
    border: 1px solid rgba(111, 111, 111, 0.115);
}

.textfield:focus{
    outline: none;
    border-color: #4d4c4c84;
    box-shadow: 0 0 1px #c2d2e9;    
}

#main{
    display: flex;
    justify-content: center;
}

#img-container{
    height: 582px;
    width:250px;
    background-image: url(/instagram/components/insta-images/home-phones.png);
    padding: 26px 20px 0px 156px;
}

.img{
    position: absolute;
    width: 250px;
    height: 538.84px;
}

#content-container{
    display: flex;
    justify-content: center;
    padding: 35px;
}

#insta-logo{
    width: 180px;
    clip-path: inset(0px 0px 210px 0px);
}

#insta-logo-con{
    margin-top: 45px;
    margin-bottom: 41px;
    margin-left: auto;
    margin-right: auto;
    width: 174px;
    height: 50px;
    /* object-fit: contain; */
}

#submit-button{
    background-color: rgb(0, 149, 246);
    color: white;
    font-weight: 600;
    font-size: 13px;
    padding: 7px 16px;
    margin-top: 13px;
    opacity: .7;
    border: none;
    border-radius: 7px;
    height: 31px;
    width: 38vh;
}

#login-form{
    border: 3px solid yellow;
}

#content-container{
    border: 3px solid red;
}

#alternate-options{
    display: flex;
    flex-direction: column;
}

.or{
    display: flex;
    margin-top: 15px;
    font-size: small;
}

.line{
    width: 110px;
    height: 1px;
    margin-top: 7px;
    background-color: lightgray;
}
#first-line{
    margin-left: 8px;
    margin-right: 10px;
}

#second-line{
    margin-left: 10px;
    /* margin-right: 4px; */
}

#facebook-link{
    padding-bottom: 10px;
    font-weight: 500;
}

.forgot-pwd{
    display: flex;
    justify-content: center;
}

#forgot-pwd-link{
    font-size: small;
}

.links{
    text-decoration: none;
    color: #385185;
}

#fb-img{
    scale: 0.8;
}

.other-options{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.fb-link{
    padding-top: 16px;
    padding-left: 8px;
}

#img-1{
    animation: animation-1 20s ease-in-out 0s infinite alternate forwards;
    /* animation-name: animation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: forwards; */
}


#img-2{
    animation: animation-2 20s ease-in-out 0s infinite alternate forwards;
}

#img-3{
    animation: animation-3 20s ease-in-out 0s infinite alternate forwards;
}

#img-4{
    animation: animation-4 20s ease-in-out 0s infinite alternate forwards;
}
@keyframes animation-1 {
    0%{opacity: 1;}
    33%{opacity: 0;}
    66%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes animation-2 {
    0%{opacity: 0;}
    33%{opacity: 1;}
    66%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes animation-3 {
    0%{opacity: 0;}
    33%{opacity: 0;}
    66%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes animation-4 {
    0%{opacity: 0;}
    33%{opacity: 0;}
    66%{opacity: 0;}
    100%{opacity: 1;}
}
